<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <button type="button" class="btn btn-secondary">Mi perfil</button>
            <a type="button" class="btn btn-secondary" href="">Cerrar sesión</a> 
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-toggler" type="button" href="/presupuestos">
            <span class="material-icons">
                home
            </span>
        </a> 

    </nav>
</div>